* {
  overflow-y: auto;
  font-family: Neucha;
}

h3 {
  margin: 5px auto;
}

h1, h2, h3, h4 {
  font-family: Creepster;
}

.screen {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  border: 1px solid darkgray;
  border-radius: 10px;
}

#top{
  height: 55%;
}
#displayBox {
  border: 1px solid darkgray;
  border-radius: 10px;
  width: 76%;
  background: url('') no-repeat center center;
  background-clip: content-box;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

#status {
  width: 26%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

#status div{
  border: 1px solid blue;
  border-radius: 5px;
  margin: 3px;
}

#mid {
  justify-content: center;
  height: 15%;
  padding: 4px 10px;
}

#bottom {
  height: 30%;
  display: flex;
  justify-content: space-around;
}

#bottom div{
  width: 50%;
  text-align: center;
  border: 1px solid gray;
  padding: 4px auto;
}

#input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#input > div{
  width: 70%;
  margin: 5px auto;
  border-radius: 5px;
}

#rollcall {
  display: flex;
}


.select:hover{
  color:red;
}

.clicked{
  background-color: gray;
}

.attack {
  font-size: 50px;
  color: red;
}

.effect {
  font-size: 50px;
  color: brown;
}


#hp {
  display: flex;
}

#hpbar {
  width: 50%;
  height: 100%;
  background-color: green;
}

#hpneg{
  width: 50%;
  height: 100%;
  background-color: red;
}





